body {
    margin: 0;
    font-family: monospace;
    font-size: 18px;
    background-color: rgb(38, 39, 41);
    color: #ffffff;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input {
    display: none;
}

.slider, .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.slider__wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.slider__item {
    display: none;
}

.slider__item img {
    width: 100%;
    height: 300px;
    object-fit: contain;

} 

#first:checked ~ .slider__items > .first, 
#second:checked ~ .slider__items > .second, 
#third:checked ~ .slider__items > .third, 
#fourth:checked ~ .slider__items > .fourth {
    display: block;
}

header {
    border-bottom: 2px dashed #ffffff;
}

footer {
    border-top: 2px dashed #ffffff;
}

.slider__controls {
    display: flex;
    gap: 10px;
}

.button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #056fb6;
    background-color: #056fb6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.button:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

.button:active {
    background-color: #8f8f8f;
    border-color: #8f8f8f;
}

.button span {
    opacity: 0;
}

#first:checked ~ .slider__controls > .button_1, 
#second:checked ~ .slider__controls > .button_2, 
#third:checked ~ .slider__controls > .button_3, 
#fourth:checked ~ .slider__controls > .button_4 {
    border: 4px solid #056fb6;
    background-color: transparent;
}